@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    min-height:100vh;
    background: #e3eaff;
    font-family: outfit, sans-serif;
    display:flex;
    justify-content:center;
    align-items: center;
}
.card{
    width: 360px;
    background: #ffffff;
    padding: 1rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
    border-radius:20px;
    box-shadow:0 0 50px rgba(90, 86, 86, 0.365);
    text-align: center;
}

img{
    width: 100%;
    border-radius:inherit;
    margin-bottom: 1rem;
}
.text{
    padding: 1rem;
}
.text h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 1rem;
}
.text p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: hsl(220, 15%, 55%);
}
