body {
    
}@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    background: #e3eaff;
    font-family: outfit, sans-serif;
    display:flex;
    justify-content:center;
    align-items: center;
}
@media (min-width:1440px){
    .card{
        width:1500px;
    }
}
.card{
    width:200px;
    height: auto;
    background: #ffffff;
    border-radius:10px;
    box-shadow:0 0 100px rgb(223,213,213);
    display:flex;
    flex-direction:column;
    
}
.qrCode{
    width:175px;
    padding:10px 10px 10px 10px;
    display:flex;
    position: relative;
    left:3px;
}
img{
    width:175px;
    border-radius:10px;
}
.headText{
    width:185px;
    padding:10px 10px 10px 10px;
    display:flex;
    position: relative;
    left:10px;
    bottom:10px;
    
}
.headText h1{
    text-align:center;
    font-size:15px;
    color:hsl(218, 44%, 22%);
}
.headText span{
    letter-spacing:0px;
    right:55px;    
    
}
.para{
    font-size:10px;
    color:hsl(212, 45%, 89%);
    width:185px;
    padding:10px 10px 10px 10px;
    display:flex;
    position: relative;
    left:10px;
    bottom:18px;
    text-align:center;
}
